<h1>New Place</h1>

<%= form_with :model => @place do |form| %>
  <p>
    <%= form.label "name", "Place" %>
    <%= form.text_field "name" %>
  </p>
  <%= form.submit %>
<% end %>

<p>
    <b><a href="/places">Back to all places</a></b>
</p>